/* Default template css fix */
.product-info-main .product-add-form .actions .swiftgift-product-button {
    width: 100%;
    padding:12px 0;
}
@media all and (min-width: 768px), print {
    .product-info-main .product-add-form .actions .swiftgift-product-button {
        width: 49%;
    }
}

/* SwiftGift .svg icons */
.swiftgift-icon {
    vertical-align: sub;
    display: inline;
    width: 16px;
    height: auto;
}
.swiftgift-icon-path {fill:currentColor}


/* SwiftGift checkout widget */
.swiftgift-radio .swiftgift-radio-header {
    border-bottom: 2px solid #dddbdb;
    margin-bottom: 10px;
    min-width: 315px;
    position: relative;
    display: table;
    table-layout: fixed;
    width:100%;
}
.swiftgift-radio .swiftgift-radio-header .swiftgift-radio-header-text {
    display: table-cell;
    vertical-align: top;
    width: auto;
}
.swiftgift-radio .swiftgift-radio-header .swiftgift-header-tick {
    display: table-cell;
    vertical-align: top;
    padding-right:0.5em;
}
.swiftgift-radio .swiftgift-radio-header .swiftgift-icon {
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    width:112px;
    height: auto;
}
.swiftgift-radio .swiftgift-radio-header .swiftgift-icon .swiftgift-icon-path {
    fill:#28ACFE;
}
.swiftgift-radio .swiftgift-radio-header .swiftgift-radio-short-description {
    font-size:70%;
}
.swiftgift-radio .swiftgift-radio-body ol {
    counter-reset:swiftgiftlist;
    margin:0;
    padding:0
}
.swiftgift-radio .swiftgift-radio-body ol li {
    list-style:none;
    font-weight:300;
    padding-left:25px;
    position:relative;
    margin-bottom:0.5em;
}
.swiftgift-radio .swiftgift-radio-body ol li:before {
    position: absolute;
    counter-increment: swiftgiftlist;
    content: counter(swiftgiftlist);
    left: 0;
    top: 0;
    background-color: #BEBBBB;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    border-radius: 100%;
    color: #fff;
    font-size: 80%;
}


/* SwiftGift Magic Link widget */
.swiftgift-checkout-magiclink {
    margin: 0 auto;
    max-width:610px;
}
.swiftgift-checkout-magiclink h3 {
    color:#fff;
    text-align: left;
}
.swiftgift-checkout-magiclink p {
    color:#fff;
    margin-bottom: 2em;
    text-align: left;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-header {
    background-color: #1D9CEC;
    padding: 30px 30px 30px 30px;
    border-radius: 5px 5px 0 0;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-body {
    background-color: #28acfe;
    border-radius: 0 0 5px 5px;
    padding: 20px 30px 40px 30px;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-body p {
    text-align:center;margin-bottom: 1em;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-input {
    width:100%;
    max-width:320px;
    display:block;
    margin: 0 auto 10px auto;
    height: 50px;
    color: #333333;
    text-align: center;
    border-width: 0px;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-button {
    width:100%;
    max-width:320px;
    display:block;
    background-color: #0879C6;
    height:56px;
    margin: 0 auto 10px auto;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-button span {
    line-height:56px;
}
.swiftgift-checkout-magiclink .swiftgift-checkout-magiclink-button .swiftgift-icon {
    width:24px;
}


/* SwiftGift social icons set */
.swiftgift-checkout-magiclink-social {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
    font-size: 0px;
}
.swiftgift-checkout-magiclink-social li {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 0.25em;
    font-size: 14px;
    color: #fff;
    margin-right: 0.25em;
}
.swiftgift-checkout-magiclink-social li:last-child {
    margin-right:0px;
}
.swiftgift-checkout-magiclink-social li img {
    height: 31px;
    width: 31px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
    border-radius: 100%;
    font-size: 0px;}
.swiftgift-checkout-magiclink-social li span {
    line-height: 31px;
    vertical-align: middle;
}


/* SwiftGift checkbox view for Magento 2 */
.swiftgift-checkbox {
    display: none !important;
}
.swiftgift-checkbox-label {
    padding:10px 15px;
    border:1px solid #f9f9f9;
    border-radius:5px;
    background-color:#f4f4f4;
    opacity:0.65;
    margin-bottom:1em;
    display: block;
    cursor: pointer;
}

/* SwiftGift checkbox view tick element */
.swiftgift-radio-tick {
    height:26px;
    width:26px;
}
.swiftgift-tick .swiftgift-icon-path {
    fill:#59afe2;
}
.swiftgift-tick .swiftgift-icon-path.tick {
    opacity:0;
}
.swiftgift-checkbox-label:hover {
    opacity:0.9;
    border-color:#eee;
}
.swiftgift-checkbox:checked + .swiftgift-checkbox-label {
    opacity:1;
    border-color:#eee;
}
.swiftgift-checkbox:checked + .swiftgift-checkbox-label .swiftgift-tick .swiftgift-icon-path.tick {
    opacity:1;
}
